*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/regionaldrought/vdrought/node_modules/
build/
dist/
tethysapp/regionaldrought/workspaces/app_workspace/MapImage/
tethysapp/regionaldrought/__pycache__/
